@import "./scss/Header.scss";
@import "./scss/Contact.scss";
@import "./scss/Skills.scss";
@import "./scss/Projects.scss";
@import "./scss/Experience.scss";
@import "./scss/Education.scss";

.App {
  max-width: 66rem;
  max-height: 86rem;
  margin-left: 15%;
  display: grid;
  background-color: #88563b;
}

