.App {
  text-align: center;
  max-width: 1050px;
  margin-left: 15%;
}

.head-container {
  height: 20%;
  width: 100%;
  background-color: #4b2613;
  margin: 0;
  padding: 1rem; /* 1rem = 16px */
}

.title {
  color: #fff;
}

span {
  color: #52a6f8
}

.contact {
  display: flex;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

