@import "./scss/variables.scss";
@import "./scss/mixins.scss";
@import "./scss/Header.scss";
@import "./scss/Contact.scss";
@import "./scss/Skills.scss";
@import "./scss/Projects.scss";
@import "./scss/Experience.scss";
@import "./scss/Education.scss";

.App {
 max-width: 66rem;
 margin-left: 15%; 
 border: 4px solid black;
 padding: 2rem;
 background-color: $secondary;
} 

